@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #fffbec;
}
$limit: 800px;

#navi {
  height: 96px;
  label {
    color: #78350f;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.2px;
    text-align: left;
  }

  #list {
    @media (min-width: $limit) {
      position: relative;
      right: 0px;
      display: flex;
    }
    @media (max-width: $limit) {
      display: none;
    }
  }
  a {
    margin-left: 30px;
    text-decoration: none;

    width: 72px;
    height: 24px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;

    color: #78350f;

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  #menubtn {
    @media (min-width: $limit) {
      display: none;
    }
    @media (max-width: $limit) {
      display: absolute;
      right: 0;
    }
  }
  #signupbtn {
    background-color: #fffbec;
    position: relative;
    color: #78350f;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 149px;
    height: 48px;

    border: 2px solid #78350f;
    border-radius: 8px;

    flex: none;
    order: 5;
    flex-grow: 0;
  }

  .menu {
    padding-top: 30px;
    height: 100%;
    position: fixed;
    z-index: 4;
    left: -300px;
    top: 0;
    width: 300px;
    background-color: #0e1628;
    transition: left 0.5s ease;
    div {
      row-gap: 30px;
      flex-direction: column;
    }
    a {
      color: white;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  .menu.active {
    left: 0;
  }
}

#intro {
  background-image: url("./../../public/assets/Rectangle.png");
  background-size: cover;
  background-position: right;
  #introdiv {
    @media (min-width: $limit) {
      display: flex;
    }
  }
  #tittle {
    @media (max-width: $limit) {
      text-align: center;
    }
    display: block;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 110%;

    color: #0f172a;
  }
  #content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;

    color: #0f172a;
    display: block;
    margin-top: 30px;
  }
  #btn1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.5px;

    color: #78350f;

    background-color: #fffbec;
    box-sizing: border-box;

    width: 179px;
    height: 56px;

    border: 2px solid #78350f;
    border-radius: 8px;
    background-color: #ffffff00;
  }
  #btn2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.5px;

    color: #78350f;

    background-color: #fffbec;
    box-sizing: border-box;

    width: 179px;
    height: 56px;
    background-color: #ffffff00;

    border: none;
  }

  #btndiv {
    @media (max-width: $limit) {
      justify-content: center;
    }
  }
  #nibhdiv {
    @media (min-width: $limit) {
      display: flex;
    }
  }

  #IntroItem {
    @media (max-width: $limit) {
      text-align: center;
    }
    h5 {
      @media (max-width: $limit) {
        text-align: center;
        padding-top: 20px;
      }
    }
  }
  #icon {
    @media (max-width: $limit) {
      display: flex;
      justify-content: center;
    }

    #iconpng {
      @media (max-width: $limit) {
        position: absolute;
      }
    }
    #iconbg {
      @media (min-width: $limit) {
        position: absolute;
      }
      @media (max-width: $limit) {
        position: relative;
      }
    }
  }

  #shoesimg {
    @media (max-width: $limit) {
      width: 75%;
    }
  }
}

#thebestcont {
  background-color: #0f172a;
  color: white;
  h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 56px;

    color: #ffffff;
  }
  #signupbutton {
    width: 137px;
    height: 24px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    letter-spacing: 0.5px;

    color: #ffffff;

    background-color: #0f172a;
    box-sizing: border-box;

    width: 233px;
    height: 64px;

    border: 2px solid #ffffff;
    border-radius: 8px;
  }

  #thebest {
    #backlights {
      position: absolute;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
    }
    #product {
      z-index: 1;
      box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
      box-shadow: 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
      padding-bottom: 30px;
      margin-bottom: 30px;
      width: 30%;
      border-radius: 10px;
      @media (max-width: $limit) {
        width: 100%;
      }
      #productdiv {
        background-color: #0e1628;
        button {
          background-color: #0f172a;
          width: 82px;
          height: 24px;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;

          letter-spacing: 0.5px;

          color: #ffffff;

          flex: none;
          order: 0;
          flex-grow: 0;

          box-sizing: border-box;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 16px;

          width: 330.67px;
          height: 56px;

          border: 2px solid #ffffff;
          border-radius: 8px;

          flex: none;
          order: 0;
          flex-grow: 1;
        }
      }
      img {
        width: 100%;
      }
    }
  }

  .thebestmin {
    @media (max-width: $limit) {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
    }
    @media (min-width: $limit) {
      display: flex;
      h3 {
        position: absolute;
      }
      button {
        position: absolute;
        right: 0px;
      }
    }
  }

  #productsdiv {
    @media (max-width: $limit) {
      flex-direction: column;
      width: 100%;
    }
  }
}

#Deco {
  position: absolute;
  right: 0;
  width: 50%;
}

#whyjoincontent {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 30px;

  li {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;

    color: #0f172a;
  }

  button {
    color: #78350f;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    width: 179px;
    height: 56px;

    border: 2px solid #78350f;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  @media (max-width: $limit) {
    flex-direction: column;
    width: 100%;
  }
  h1 {
    @media (max-width: $limit) {
      text-align: center;
    }
  }
  #btndiv {
    @media (max-width: $limit) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  #whyjointop {
    @media (min-width: $limit) {
      width: 50%;
    }
  }
  #whyjoinbot {
    @media (min-width: $limit) {
      width: 50%;
    }
  }
  #whyjointop {
    @media (max-width: $limit) {
      width: 80%;
    }
  }
  #whyjoinbot {
    @media (max-width: $limit) {
      margin-top: 50px;
      width: 100%;
    }
  }
}
#theyloveus {
  #tittle {
    h2 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 800;
      font-size: 56px;
      line-height: 110%;
      color: #0f172a;
    }

    button {
      box-sizing: border-box;
      padding-bottom: 3px;
      width: 48px;
      height: 48px;

      /* Amber/900 */
      border: 2px solid #78350f;
      /* Shadow/Dark/S */
      filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1))
        drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.07));
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  #sample_item {
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    user-select: none;
  }
  #sample_item::-webkit-scrollbar {
    height: 1px;
    background-color: transparent;
  }

  #slider_container {
    width: 180px;
    height: 600px;
    overflow-y: scroll;
    transform: rotate(-90deg);
  }

  #silder_contentdiv {
    width: 140px;
    height: 140px;
    margin: 10px;

    background-color: #a8a8df;

    transform: rotate(90deg);
  }

  #yellowbg {
    background-color: #fde68a;
    width: 100%;
    height: 421px;
    position: absolute;
    z-index: -1;
  }

  #productname {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;

    color: #475569;
  }
  #comment {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: left;
  }
  #name {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
  }
  #job {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }

  #buttons {
    @media (min-width: $limit) {
      display: flex;
    }
    @media (max-width: $limit) {
      display: none;
    }
  }
}

#yourcollection {
  #tittle {
    margin-top: 50px;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: left;
  }
  p {
    padding-top: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
  }
  button {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;

    width: 256px;
    height: 56px;

    background: #ffffff;

    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
      0px 0px 4px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    border: none;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
  }

  #images {
    #img1 {
      position: absolute;
      width: 730px;
      z-index: 0;
      @media (max-width: $limit) {
        width: 500px;
      }
    }
    #img2 {
      position: absolute;
      width: 770px;
      top: 80px;
      left: 80px;
      z-index: 1;
      @media (max-width: $limit) {
        width: 500px;
      }
    }
    #img3 {
      width: 350px;
      top: 140px;
      right: 0px;
      position: absolute;
      z-index: 2;
      @media (max-width: $limit) {
        right: -220px;
        width: 200px;
      }
    }
  }

  #contentdiv {
    @media (min-width: $limit) {
      display: flex;
    }
    @media (max-width: $limit) {
      margin-top: 120px;
      flex-direction: column;
      display: none;
    }
  }
  #buttonlistcontdiv {
    @media (min-width: $limit) {
      flex-direction: column;
    }
  }
}

#worldmap {
  #shoesItem {
    display: flex;
    justify-content: center;
    height: 255px;
    z-index: 3;
    width: 220px;
    position: relative;

    img {
      width: 240px;
      height: 240px;
    }
    #shoesItemtext {
      width: 90%;
      z-index: -1;
      padding: 10px;
      bottom: 0px;
      position: absolute;
      background-color: #c5cad3;
      border-radius: 10px;

      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;
    }
  }
  #headline1 {
    font-family: Roboto;
    font-size: 96px;
    font-weight: 800;
    line-height: 105.6px;
    text-align: center;
  }
  #headline2 {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 800;
    line-height: 61.6px;
    text-align: center;
  }
}

#footer {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: rgba(226, 232, 240, 1);
  #footertittle {
    color: rgba(255, 255, 255, 1);

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    text-align: left;
    @media (max-width: $limit) {
      text-align: center;
      margin-top: 10px;
    }
  }
  #footertop {
    border-bottom: solid rgb(82, 82, 82);
    border-width: 0.01em;
    @media (max-width: $limit) {
      align-items: center;
      flex-direction: column;
      text-align: center;
      h6 {
        margin-top: 10px;
      }
    }
    @media (min-width: $limit) {
      align-items: center;
    }
  }
  #footergrid {
    @media (min-width: $limit) {
      height: 272px;
    }
  }

  #footericons {
    height: 275px;
  }
  #footerbottom {
    @media (min-width: $limit) {
      height: 96px;
    }
    @media (max-width: $limit) {
      flex-direction: column;
    }
  }
  #Collers {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
  }
  #bottomlist {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    a {
      color: white;
      text-decoration: none;
    }
    @media (max-width: $limit) {
      text-align: center;
      flex-direction: column;
    }
  }
}
